[submodule "dotbot"]
	ignore = dirty
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	shallow = true
[submodule "prezto"]
	ignore = dirty
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
	shallow = true
[submodule "neovim/dein.vim"]
	ignore = dirty
	path = neovim/dein.vim
	url = https://github.com/Shougo/dein.vim.git
	shallow = true
