[submodule "dotbot"]
	ignore = dirty
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "prezto"]
	ignore = dirty
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "neovim/minpac"]
	ignore = dirty
	path = neovim/minpac
	url = https://github.com/k-takata/minpac.git
