[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "neovim/dein.vim"]
	path = neovim/dein.vim
	url = https://github.com/Shougo/dein.vim.git
